---
layout: base.njk
pagination:
  data: tutorials.allChapters
  size: 1
  alias: ch
permalink: "/tutorials/{{ ch.tutorialSlug }}/{{ ch.file | chapterSlug }}/index.html"
title: "{{ ch.title }}"
---

<article class="chapter">
  <header>
    <a href="{{ '/tutorials/' | url }}{{ ch.tutorialSlug }}/" class="back">← {{ ch.tutorialTitle }}</a>
    <h1>{{ ch.title }}</h1>
    <p class="chapter-meta">Chapter {{ ch.index + 1 }} of {{ ch.totalChapters }}</p>
  </header>
  <div class="chapter-content prose">
    {% set chapterPath = ch.folder ~ "/" ~ ch.file %}
    {% renderChapter chapterPath %}
  </div>
  <nav class="chapter-nav">
    {% if ch.index > 0 %}
      {% set prev = tutorials.allChapters[pagination.pageNumber - 1] %}
      <a href="{{ '/tutorials/' | url }}{{ ch.tutorialSlug }}/{{ prev.file | chapterSlug }}/" class="prev">← {{ prev.title }}</a>
    {% endif %}
    <a href="{{ '/tutorials/' | url }}{{ ch.tutorialSlug }}/" class="toc-link">TOC</a>
    {% if ch.index < ch.totalChapters - 1 %}
      {% set next = tutorials.allChapters[pagination.pageNumber + 1] %}
      <a href="{{ '/tutorials/' | url }}{{ ch.tutorialSlug }}/{{ next.file | chapterSlug }}/" class="next">{{ next.title }} →</a>
    {% endif %}
  </nav>
</article>
